{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "semi": true,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
