@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 4.5rem;
}

body {
  background: #fafafa;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
